.input-change {
    border: 1px solid black;
    width: 10vw;
    text-align: center;
    margin: 0px
}

.icon-add {
    margin-right: 0;
}

.icon-remove {
    margin-left: 0;
}

.label {
    position: absolute;
    top: 35%
}