<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Notes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: rgba(0,0,0,0.04);" class="ion-padding">

  <div *ngFor="let subject of subjects">
  <ion-card
  button="true"
  routerDirection="forward"
  class="card"
  *ngIf="subject.subjectId < 5"
  [routerLink]="['/notes-chapters', subject.subjectId, subject.subjectName]"
>
  <ion-card-content class="ion-no-padding ion-padding-top ion-padding-bottom">
    <ion-grid fixed class="ion-no-padding">
      <ion-row>
        <ion-col size="3">
          <ion-item
            class="ion-no-margin ion-no-padding icon-item-start"
            lines="none"
          >
            <ion-icon
              class="subject-logo-start"
              [name]="subject.subjectId == 1 ? 'logo-react' : (subject.subjectId == 2 ? 'flask' : (subject.subjectId == 4 ? 'thermometer' : 'funnel'))"
              color="primary"
            ></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item
            lines="none"
            class="ion-no-margin ion-no-padding ion-padding-end testId-item"
          >
            <ion-label class="ion-no-margin-bottom testId"
              >{{subject.subjectName}}</ion-label
            >
          </ion-item>
        </ion-col>
        <ion-col size="3">
          <ion-item
            class="ion-no-margin ion-no-padding icon-item-end"
            lines="none"
          >
            <ion-icon
              class="subject-logo-end"
              name="chevron-forward-circle"
              color="primary"
            ></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
</div>
</ion-content>
