.card {
    position: relative;
    height: 50px;
     width: 50px;
    border-radius: 25px;
}

.circle {
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background: var(--ion-color-success);
    margin-left: 2px;
}

.card ion-label {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: medium;
}

.footer-btn {
    height: 50px;
}

.footer-item {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-bottom: 0px;
}

.badge {
    background-color: var(--ion-color-warning);
    position: absolute;
    top: -6%;
    right: 2%;
    border-radius: 10px;
    height: 20px;
    width: 20px;
    // z-index: 1;
}

.toolbar {
    --border-width: 1px;
    --border-style: solid;
}